In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [69]:
df_sites = pd.read_csv("all_sites.csv",sep=",")


df_sites['customer']=df_sites["customer_name"].str.extract("//(.+?):")
df_sites.columns
df_sites= df_sites[df_sites.deactivated==0]
df_sites = df_sites[[ u'idbldsite', u'sname', u'timezone', u'latitude', u'longitude',
      u'customer']]
df_sites=df_sites[~df_sites.latitude.isnull()]
df_sites['coordinates']=df_sites.apply(lambda x : str(x.latitude)+";"+str(x.longitude),axis=1)
groupy = df_sites.groupby('coordinates').count()
selected_customers = df_sites.customer.value_counts()
      
selected_customers = ['dwe-thalia','dwe-jackwolfskin','dwe-closed','dwe-globetrotter','dwe_visilab_2014',
 'dwe_arcadia_2015',
 'dwe_closed_2013',
 'dwe_libertywoman_2016',
 'dwe_1aoutlet_2014',

 'dwe_samsonite_2015',
 'dwe_oberpaur_2013',
 'dwe_clinton_2013',
 'dwe_knauber_2016',
 'dwe_mensing_2016']

df_sites_weather = df_sites[df_sites.customer.isin(selected_customers)]

/home/ramon/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [2]:
db_params =  'postgresql://dwe-froggy:dwe-froggy@localhost:5432/DWE_FROGGY_2016'
engine = create_engine(db_params,encoding = 'utf-8')

In [6]:
df_weather = pd.read_sql_query("select * from weather_data",
                                 con=engine)

In [13]:
df_weather[df_weather.site_id==1151][df_weather.period=='hour']

/home/ramon/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,id,period,data_type,updated,dateTime,tt,tn,tx,ne,ww,rrr,prrr,site_id
0,411,hour,observation,2016-11-17 19:00:00,2016-11-16 01:00:00,6,-9999,-9999,8,51,-9999,-9999,1151
2,413,hour,observation,2016-11-17 19:00:00,2016-11-16 02:00:00,7,-9999,-9999,6,20,-9999,-9999,1151
3,414,hour,observation,2016-11-17 19:00:00,2016-11-16 03:00:00,7,-9999,-9999,7,10,0,-9999,1151
4,415,hour,observation,2016-11-17 19:00:00,2016-11-16 04:00:00,7,-9999,-9999,7,10,0,-9999,1151
5,416,hour,observation,2016-11-17 19:00:00,2016-11-16 05:00:00,7,-9999,-9999,6,-9999,0,-9999,1151
6,417,hour,observation,2016-11-17 19:00:00,2016-11-16 06:00:00,7,-9999,-9999,7,-9999,0,-9999,1151
7,418,hour,observation,2016-11-17 19:00:00,2016-11-16 07:00:00,6,-9999,-9999,6,3,0,-9999,1151
8,419,hour,observation,2016-11-17 19:00:00,2016-11-16 08:00:00,7,-9999,-9999,6,10,0,-9999,1151
9,420,hour,observation,2016-11-17 19:00:00,2016-11-16 09:00:00,6,-9999,-9999,8,44,0,-9999,1151
10,421,hour,observation,2016-11-17 19:00:00,2016-11-16 10:00:00,7,-9999,-9999,8,44,0,-9999,1151
11,422,hour,observation,2016-11-17 19:00:00,2016-11-16 11:00:00,7,-9999,-9999,8,10,0,-9999,1151
12,423,hour,observation,2016-11-17 19:00:00,2016-11-16 12:00:00,8,-9999,-9999,6,10,0,-9999,1151
13,424,hour,observation,2016-11-17 19:00:00,2016-11-16 13:00:00,8,-9999,-9999,8,10,0,-9999,1151
14,425,hour,observation,2016-11-17 19:00:00,2016-11-16 14:00:00,8,-9999,-9999,7,10,0,-9999,1151
15,426,hour,observation,2016-11-17 19:00:00,2016-11-16 15:00:00,8,-9999,-9999,6,61,1,-9999,1151
16,427,hour,observation,2016-11-17 19:00:00,2016-11-16 16:00:00,8,-9999,-9999,8,53,0,-9999,1151
17,428,hour,observation,2016-11-17 19:00:00,2016-11-16 17:00:00,8,-9999,-9999,8,51,0,-9999,1151
18,429,hour,observation,2016-11-17 19:00:00,2016-11-16 18:00:00,8,-9999,-9999,7,20,-9999,-9999,1151
19,430,hour,observation,2016-11-17 19:00:00,2016-11-16 19:00:00,9,-9999,-9999,8,3,0,-9999,1151
20,431,hour,observation,2016-11-17 19:00:00,2016-11-16 20:00:00,8,-9999,-9999,6,20,-9999,-9999,1151
21,432,hour,observation,2016-11-17 19:00:00,2016-11-16 21:00:00,9,-9999,-9999,7,-9999,0,-9999,1151
22,433,hour,observation,2016-11-17 19:00:00,2016-11-16 22:00:00,9,-9999,-9999,7,1,0,-9999,1151
23,434,hour,observation,2016-11-17 19:00:00,2016-11-16 23:00:00,9,-9999,-9999,4,-9999,0,-9999,1151
24,435,hour,observation,2016-11-17 19:00:00,2016-11-17 00:00:00,9,-9999,-9999,4,-9999,0,-9999,1151
10646,21648,hour,observation,2016-11-18 10:00:00,2016-11-17 01:00:00,9,-9999,-9999,4,2,0,-9999,1151
10647,21650,hour,observation,2016-11-18 10:00:00,2016-11-17 02:00:00,8,-9999,-9999,4,-9999,0,-9999,1151
10648,21652,hour,observation,2016-11-18 10:00:00,2016-11-17 03:00:00,8,-9999,-9999,6,61,-9999,-9999,1151
10649,21654,hour,observation,2016-11-18 10:00:00,2016-11-17 04:00:00,9,-9999,-9999,6,61,0,-9999,1151
10650,21656,hour,observation,2016-11-18 10:00:00,2016-11-17 05:00:00,9,-9999,-9999,7,61,-9999,-9999,1151
10651,21658,hour,observation,2016-11-18 10:00:00,2016-11-17 06:00:00,9,-9999,-9999,7,21,-9999,-9999,1151
10652,21660,hour,observation,2016-11-18 10:00:00,2016-11-17 07:00:00,9,-9999,-9999,6,61,0,-9999,1151
10653,21662,hour,observation,2016-11-18 10:00:00,2016-11-17 08:00:00,9,-9999,-9999,6,21,0,-9999,1151
10654,21664,hour,observation,2016-11-18 10:00:00,2016-11-17 09:00:00,9,-9999,-9999,6,21,-9999,-9999,1151
10655,21666,hour,observation,2016-11-18 10:00:00,2016-11-17 10:00:00,10,-9999,-9999,6,3,0,-9999,1151
10656,21668,hour,observation,2016-11-18 10:00:00,2016-11-17 11:00:00,10,-9999,-9999,7,-9999,0,-9999,1151
10657,21670,hour,observation,2016-11-18 10:00:00,2016-11-17 12:00:00,9,-9999,-9999,7,61,0,-9999,1151
10658,21672,hour,observation,2016-11-18 10:00:00,2016-11-17 13:00:00,10,-9999,-9999,6,21,1,-9999,1151
10659,21674,hour,observation,2016-11-18 10:00:00,2016-11-17 14:00:00,11,-9999,-9999,4,-9999,0,-9999,1151
10660,21676,hour,observation,2016-11-18 10:00:00,2016-11-17 15:00:00,11,-9999,-9999,7,-9999,0,-9999,1151
10661,21678,hour,observation,2016-11-18 10:00:00,2016-11-17 16:00:00,10,-9999,-9999,7,21,-9999,-9999,1151
10662,21680,hour,observation,2016-11-18 10:00:00,2016-11-17 17:00:00,9,-9999,-9999,6,61,1,-9999,1151
10663,21682,hour,observation,2016-11-18 10:00:00,2016-11-17 18:00:00,9,-9999,-9999,7,21,1,-9999,1151
10664,21684,hour,observation,2016-11-18 10:00:00,2016-11-17 19:00:00,9,-9999,-9999,6,21,-9999,-9999,1151
10665,21686,hour,observation,2016-11-18 10:00:00,2016-11-17 20:00:00,8,-9999,-9999,6,21,-9999,-9999,1151
10666,21688,hour,observation,2016-11-18 10:00:00,2016-11-17 21:00:00,8,-9999,-9999,6,21,0,-9999,1151
10667,21690,hour,observation,2016-11-18 10:00:00,2016-11-17 22:00:00,8,-9999,-9999,5,1,0,-9999,1151
10668,21692,hour,observation,2016-11-18 10:00:00,2016-11-17 23:00:00,9,-9999,-9999,7,61,-9999,-9999,1151
10669,21694,hour,observation,2016-11-18 10:00:00,2016-11-18 00:00:00,10,-9999,-9999,8,21,-9999,-9999,1151